Package: com.mnuster.customcitysms
Name: CustomCitySMS
Version: 1.0
Architecture: iphoneos-arm
Description: Packaged CitySMS theme for Messages
Homepage: http://mnuster.github.io/repo/depic/customcitysms/index.html
Depiction: http://mnuster.github.io/repo/depic/customcitysms/index.html
Depends: winterboard
Section: Themes (Messages)
Author: mnuster <mnuster793@gmail.com>
Maintainer: mnuster <mnuster793@gmail.com>
